body{
    background-color: #F5E9E2;
}
body .card {
    background-color: #F5E9E2;
}

header {
    background-color: #141301;
}
/* Casual Navigational links */
nav a {
    color: #141301;
}
nav a:hover {
    color: #FF711F;
}

/* Highlighted nagivational links */

nav .active {

    background-color: #FF711F;
    border-radius: 8px;
}
div.accounts {
    background-color: #FF711F;
    border-radius: 8px;

}
.active > a , .accounts > a {
    text-decoration: none ;
    color: #FFFFFF;
}
.active > a:hover, .accounts > a:hover {
    color: #141301;
}
/* Forms */
input:focus,
textarea:focus,
select:focus{

    color: red !important;

}


form > img.login{
    height: 100px !important;
}
form > img.signup{
    height: 100px !important;
}

.card-title{
    color: #FF711F;
}

img[alt='refreshing drinks']{
    height: 20rem;
    width: 100%;

}

#recipe_carousel > .carousel-inner > div img {
height: 300px;
}

#recipe_decor {
    width: 90%;
    margin: 0 auto;

}
#recipe_decor h2 {
    color: #FF711F;
}
